@import '../scss/vars';

.mailbox {
  width: calc(100% - 280px);

  .connect-provider {
    height: 100%;
    width: 100%;

    h1 {
      color: $text-light-2;
      margin-bottom: 20px;
    }
  }
  .mails {
    color: $white-2;
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;

    $mailHeight: 50px;
    $stackItemHeight: 15px;

    .mail {
      height: $mailHeight;
      line-height: $mailHeight;
      padding: 0 14px;
      border-bottom: 1px solid $black-3;
      cursor: pointer;

      &:last-of-type {
        border: none;
      }

      &:not(.seen) {
        color: $accent-2;
        background: $white-4;
      }

      &.seen:hover {
        background: $white-5;
        color: $white-1;
      }

      .stack {
        padding: #{($mailHeight - ($stackItemHeight * 2)) / 2} 0;
        line-height: $stackItemHeight;

        span {
          display: inline-block;
          width: 100%;
          height: $stackItemHeight;
          padding: 0 14px 0 0;

          @include ellip();
        }
      }

      .from {
        width: 300px;
        max-width: 40%;

        .from-address {
          color: $white-3;
        }
      }
      .subject {
        padding: 0 14px 0 0;
        @include ellip();
      }
      .date {
        width: 100px;
        max-width: 10%;
        @include ellip();
      }
    }
  }
}
