@import '../scss/vars';

.mailbox-list {
  width: 280px;
  background: $background-2;
  box-shadow: $shadow-1;
  z-index: 800;
  padding: 10px 0;
  overflow: hidden;
  max-height: 100%;

  $stackItemHeight: 15px;

  .provider-item {
    .stack {
      margin: 5px 0;
      line-height: $stackItemHeight;

      span {
        display: inline-block;
        width: 100%;
        height: $stackItemHeight;
        line-height: $stackItemHeight;

        &.address {
          color: $white-3;
          font-size: 0.85rem;
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    list-style: none;
    overflow-y: auto;
  }
}
