@import '../scss/vars';

.mailbox {
  width: calc(100% - 280px);

  .connect-provider {
    height: 100%;
    width: 100%;

    h1 {
      color: $text-light-2;
      margin-bottom: 20px;
    }
  }
  .mails {
    color: $white-2;
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
  }
}
