@import '../scss/vars';

.provider-list {
  .providers {
    max-width: 360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-auto-rows: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }
}
