@import '../scss/vars';

.icon {

  $height: 40px;
  $smallHeight: 30px;

  display: inline-block;
  height: $height;
  line-height: $height;
  width: $height;
  padding: 5px;
  background: transparent;
  border-radius: 50%;
  position: relative;

  svg {
    height: 100%;
    width: 100%;

    path {
      fill: $accent-1;
    }
  }

  &.small {
    height: $smallHeight;
    line-height: $smallHeight;
    width: $smallHeight;
  }
}
